#leftSidebar {
  width: 225px;
}

#leftSidebar #first,
#leftSidebar #second {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  border: solid 1px rgba(60, 60, 60, 0.2);
}

#leftSidebar #second.fixed {
  position: fixed;
  width: 225px;
  top: 70px;
}

#leftSidebar #bgImg {
  height: 55px;
}

#leftSidebar .imgWrapper {
  position: absolute;
  top: 20px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #fff;
}

#leftSidebar a:hover {
  text-decoration: underline !important;
}

#leftSidebar .hover:hover {
  cursor: pointer;
  background-color: #c4c4c4bb;
}

#leftSidebar .evPlsIcon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  fill: #727272;
  transition: all 300ms ease;
  box-sizing: content-box;
  padding: 5px;
}

#leftSidebar .evPlsIcon:hover {
  fill: #000;
  background-color: #ebebeb;
}

.hovAnim {
  transition: all 300ms;
}
