.main-section {
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  min-width: 576px;
  border-radius: 0.8rem;
  padding-bottom: 3%;
}

.text-container {
  padding-left: 2%;
  padding-right: 4%;
}

.main-section .main-div .upper-part {
  /* border: 3px solid green; */
  min-height: 99px;
  max-height: 99px;
}

.upper-part {
  margin-left: -15px;
  margin-right: -15px;
}

.upper-part img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.display-flex {
  display: flex;
  /* border: 3px solid fuchsia */
}

.upper-part img {
  position: relative;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.main-section .main-div .bottom-part .photo-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid;
  background-color: white;
  aspect-ratio: auto 200 / 200;
  cursor: pointer;
  z-index: 4;
  border-color: white;
}

.main-section .main-div .bottom-part .text-container {
  color: black;
  margin-top: 8px;
}

.main-info {
  /* border: 3px solid yellow; */
  position: relative;
}

.left-panel h1,
.left-panel p {
  text-align: left;
}

.right-panel ul {
  /* border: 3px solid blue; */
  width: 232px;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}

.icons-container {
  padding-left: 2%;
  width: 400px;
  justify-content: space-between;
}

.icons-container button {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 1.6rem;
  /* border: 1px solid #70b5f9; */
  background-color: #00000000;
  /* box-shadow: inset 0 0 0 1px #70b5f9; */
  /* color: #70b5f9; */
  font-size: 1rem;
  min-height: 2.2rem;
  padding: 0.6rem 1.2rem;
  line-height: 1rem;
}

.text-container p {
  text-align: left;
}

.minor-section {
  /* border: 3px solid grey; */
  border: 1px solid rgb(216, 216, 216);
  background-color: white;
  padding: 3% 3%;
  color: black;
  text-align: left;
  border-radius: 0.8rem;
}

.message-button {
  border: transparent;
  background-color: #0b66c2 !important;
  color: white !important;
  outline: 1px solid #0b66c2 !important;
}

.meBtns {
  border: transparent;
}

.meBtns:nth-of-type(1) {
  background-color: #0a66c2;
  color: #fff;
  fill: #fff;
}

.meBtns:nth-of-type(1):hover {
  background-color: #084685;
}

.meBtns:nth-of-type(2) {
  color: #0a66c2;
  outline: solid 1px #0a66c2;
}

.meBtns:nth-of-type(2):hover {
  background-color: #0a66c223;
  box-shadow: inset 0px 0px 0px 1px #155df88a;
}

.more-button {
  background-color: transparent;
  border: transparent !important;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  outline: solid 1px rgba(32, 32, 32, 0.695);
  font-weight: 600;
  color: #6c757d !important;
}

.more-button:hover {
  background-color: #ebebeb;
  box-shadow: inset 0px 0px 0px 1px #0000008a;
}

.send-invite {
  border: transparent;
  outline: 2px solid #6c757d !important;
  font-weight: 700;
}

.popup-form {
  background-color: white;
}

.popup .modal-body {
  min-height: 825px;
}

.add-experience-button {
  max-height: 30px !important;
  display: flex;
  align-items: center;
  border-color: #0b66c2 !important;
  color: #0b66c2 !important;
}

.add-experience-button:hover {
  background-color: #0b66c2 !important;
  color: white !important;
}

.edit-experience-button {
  font-size: 13px !important;
  color: #0b66c2 !important;
  margin-top: -12px !important;
  cursor: pointer;
}
.remove-experience-button {
  font-size: 13px !important;
  color: red !important;
  margin-top: -12px !important;
  cursor: pointer;
}

.exp-image {
  margin-bottom: 13px;
  padding-bottom: 30px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.exp-card {
  padding-top: 10px;
}

.exp-image img {
  width: 300px;
  object-fit: cover;
  max-height: 150px;
  border-radius: 10px;
}

.minor-section h2 {
  font-size: 22px;
  font-weight: 600;
}

.minor-section h5 {
  font-size: 18px;
  margin-bottom: 2px;
}

.minor-section p {
  font-size: 13px;
  color: black;
  margin-bottom: 0px;
}

.main-info h1 {
  font-size: 25px;
  font-weight: 600;
}

.greyClass {
  color: grey !important;
}

.company {
  font-size: 14px;
  font-weight: 400;
}

.exp-description {
  font-size: 15px !important;
  margin-top: 10px;
}
