.main-section {
    background-color: #1d2226;
    min-width: 576px;
}

.main-section .main-div {
    border: 3px solid red

}

.main-section .main-div .upper-part {
    border: 3px solid green;
    min-height: 99px;
    max-height: 99px;
}

.main-section .main-div .bottom-part {
    border: 3px solid yellow;
}

.display-flex {
    display: flex;
    border: 3px solid fuchsia
}

.upper-part img {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.main-section .main-div .bottom-part .photo-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid;    
    background-color: #1d2226;
    aspect-ratio: auto 200 / 200;
    cursor: pointer;
    z-index: 4;
}

.main-section .main-div .bottom-part .text-container {
    color: white;
    margin-top: 8px;
}

.main-info {
    border: 3px solid yellow;
    position: relative;
}

.left-panel h1, .left-panel p {
    text-align: left;  
} 

.right-panel {
    border: 3px solid blue;
    width: 232px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}

.text-container p {
    text-align: left;
}
