.post-form Form.Control {
  border-radius: 30px;
}

#createPostWrapper {
  background-color: #fff;
  min-width: 100%;
  margin-inline: -1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  margin-block-end: 2rem;
  position: relative;
  border: 1px solid #77777750;
}

#createPostWrapper::after {
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  bottom: -1.2rem;
  background-color: #77777770;
  width: 100%;
  height: 1px;
}

#createPostWrapper .startPost button {
  flex-grow: 1;
  background-color: transparent;
  border: transparent;
  color: #777777;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  outline: solid 1px #777777;
  transition: 300ms;
  text-align: start;
}

#createPostWrapper button:focus {
  box-shadow: none;
}

#createPostWrapper button:hover {
  background-color: #ebebeb;
}

#createPostWrapper .fourBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#createPostWrapper .fourBtns button {
  font-weight: 600;
  font-size: 0.9rem;
  border: transparent;
  background-color: transparent;
  color: #777777;
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
  transition: 300ms;
}

#createPostWrapper .fourBtns button:hover {
  background-color: #ebebeb;
}

#postModal .modal-content {
  border-radius: 0.8rem;
  min-height: 300px;
}

#postModal .modal-body {
  display: flex;
  flex-direction: column;
}

#postModal form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: max-content;
}

#postModal form textarea {
  border: transparent;
  background-color: transparent;
  resize: none;
}

#postModal form textarea:focus {
  box-shadow: none;
}

#postModal button {
  background-color: transparent;
  color: #777777;
  fill: #777777;
  border: transparent;
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
  transition: 300ms;
}

#postModal button:hover {
  background-color: #ebebeb;
}

#postModal .modal-header {
  padding-inline-end: 1.3rem;
  display: flex;
  align-items: center !important;
}

#postModal .modal-header button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
