header {
  padding-block: 8px;
  z-index: 1000;
}

#profilePic {
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: all 100ms;
}

#profilePic img {
  border-radius: 50%;
}

header .dropdown .dropdown-toggle,
header .dropdown .dropdown-toggle:active:focus {
  background-color: transparent !important;
  border: transparent;
  color: inherit !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none !important;
}

header .dropdown .dropdown-toggle:active #profilePic {
  transform: scale(1.05);
}

header .dropdown .dropdown-toggle::after {
  content: none;
}

header .dropdown .dropdown-menu {
  border: solid 1px #53535353;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.333);
}

header .dropdown .dropdown-menu a {
  color: #535353;
}

button.navItems {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

header .navItems {
  color: #535353;
  fill: #535353;
  min-height: 52px;
  min-width: 80px;
}

header .navItems:hover {
  color: #191919;
  fill: #191919;
  text-decoration: none;
  cursor: pointer;
}

form {
  height: 40px;
  margin-left: 0.5rem;
  color: #191919;
  fill: #535353;
  flex-grow: 1;
}

#searchInput {
  box-shadow: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0;
  padding-left: 2.7rem;
  max-width: 250px;
  transition: max-width 300ms ease-in;
}

#searchInput:focus {
  border: solid 2px #0a66c2 !important;
  max-width: 380px;
}

#viewProfileBtn {
  background-color: transparent;
  color: #0a66c2;
  border-radius: 1rem;
  transition: all 0ms;
  margin-top: 10px;
  border: none;
  box-shadow: inset 0px 0px 1px 1px #0a66c2;
}

#viewProfileBtn:hover {
  background-color: #0a66c220;
  box-shadow: inset 0px 0px 2px 1px #0a66c2;
}

#searchResults {
  top: 40px;
  left: 0;
  height: 400px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0.5rem;
}
