header {
  padding-block: 8px;
  z-index: 1000;
  height: 60px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.25);
  background-color: #fff;
}

#profilePic {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: all 100ms;
}

#profilePic img {
  border-radius: 50%;
}

header .dropdown .dropdown-toggle,
header .dropdown .dropdown-toggle:active:focus {
  background-color: transparent !important;
  border: transparent;
  color: inherit !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none !important;
}

header .dropdown .dropdown-toggle:active #profilePic {
  transform: scale(1.05);
}

header .dropdown .dropdown-toggle::after {
  content: none;
}

header .dropdown .dropdown-menu,
#searchResults {
  border: solid 1px #53535353;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.333);
}

header .dropdown .dropdown-menu a {
  color: #535353;
  width: fit-content;
}

header .dropdown .dropdown-menu a:hover {
  text-decoration: underline !important;
}

button.navItems {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

header .navItems {
  color: #535353;
  fill: #535353;
  min-height: 52px;
  min-width: 80px;
  position: relative;
}

.navItems::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-inline: auto;
  width: 0%;
  background-color: #0a66c2;
  transition: width 100ms;
}

.navItems.activeNavLink::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-inline: auto;
  width: 90%;
  background-color: #0a66c2;
}

header .navItems:hover {
  color: #191919;
  fill: #191919;
  text-decoration: none;
}

form {
  height: 40px;
  margin-left: 0.5rem;
  color: #191919;
  fill: #535353;
  flex-grow: 1;
}

#searchInput {
  box-shadow: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0;
  padding-left: 2.7rem;
  max-width: 250px;
  transition: max-width 300ms ease-in;
  background-color: #eef3f8;
}

#searchInput:focus {
  border: solid 2px #0a66c2 !important;
  max-width: 380px;
}

#viewProfileBtn {
  background-color: transparent;
  color: #0a66c2;
  border-radius: 1rem;
  transition: all 0ms;
  margin-top: 10px;
  border: none;
  box-shadow: inset 0px 0px 1px 1px #0a66c2;
}

#viewProfileBtn:hover {
  background-color: #0a66c220;
  box-shadow: inset 0px 0px 2px 1px #0a66c2;
}

#searchInput:focus + #searchResults {
  visibility: visible;
}

#searchResults {
  /* visibility: hidden; */
  top: 40px;
  left: 0;
  min-width: 380px;
  max-width: 380px;
  max-height: 400px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
}

.meDropdownWrapper {
  position: relative;
}

.meDropdownWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 85%;
  width: 1px;
  background-color: #68686863;
}

#subNavbarWrapper {
  background-color: #fff;
  z-index: 100;
  transition: transform 600ms;
  height: 50px;
  display: flex;
  align-items: center;
}

#subNavbarWrapper.show {
  transform: translateY(60px);
  box-shadow: 0 0 4px 2px rgba(71, 71, 71, 0.493);
}

#subNavbarWrapper button {
  background-color: transparent;
  border: transparent;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  outline: solid 1px rgba(32, 32, 32, 0.695);
  font-weight: 600;
}

#subNavbarWrapper button:nth-of-type(1):hover {
  background-color: #ebebeb;
  box-shadow: inset 0px 0px 0px 1px #0000008a;
}

#subNavbarWrapper button.second {
  background-color: #0a66c2;
  color: #fff;
  fill: #fff;
}

#subNavbarWrapper button.second:hover {
  background-color: #084685;
}

#subNavbarWrapper button.third {
  color: #0a66c2;
  outline-color: #0a66c2;
}

#subNavbarWrapper button.third:hover {
  background-color: #0a66c223;
  box-shadow: inset 0px 0px 0px 1px #155df88a;
}
