#modalBG {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transition: all 500ms;
}

#workModal {
  z-index: 1000;
  top: 60px;
  bottom: 0;
  width: 380px;
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 500ms;
}

#modalBG.show,
#workModal.show {
  visibility: visible;
  opacity: 100%;
}

#modalBG.hide,
#workModal.hide {
  visibility: hidden;
  opacity: 0%;
}

#workModal .row:nth-of-type(1) > button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  fill: #797979;
}

#workModal .row:nth-of-type(1) button:hover {
  background-color: #ebebeb;
}

#workModal.hide {
  transform: translateX(380px);
}

#workModal .card h6,
#workModal .card .text-dark {
  font-weight: 600;
}

#workModal .card a:hover {
  text-decoration: underline !important;
}

.modalLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLinks small {
  text-align: center;
}

.modalLinks svg {
  border: 1px solid #52525234;
  border-radius: 0.3rem;
  transition: all 100ms;
}

.modalLinks:hover svg {
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.342);
}

#visitMoreWrapper {
  flex-wrap: wrap;
  justify-content: start;
  padding-block: 0.8rem;
}

#visitMoreWrapper > div {
  justify-content: center;
  width: 4rem;
  margin-inline: 0.3rem;
  margin-block: 0.3rem;
}
